In [9]:
import pandas as pd
import yfinance as yf
import os
import numpy as np
from utils.env_utils import _load_root_env, _get_proj_root
from alpaca.data import StockHistoricalDataClient
from alpaca.data import StockBarsRequest
from datetime import datetime, timedelta
from alpaca.data.timeframe import TimeFrame
import yaml
root = _get_proj_root()
_load_root_env()

.env loaded from C:\Users\campb\Documents\tradepulse\.env

In [2]:
sample_stocks = [
    'NVDA','BMY', 'addyy', 'aapl', 'dal', 'kvue',
    'rtx', 'bbwi', 'axp', 'aee'
    ]
sample_stocks = [i.upper() for i in sample_stocks]
stocks = np.random.choice(sample_stocks, 5, replace=False).tolist()

In [ ]:
daily_data = yf.download(stocks, period='2y', interval='1d')
print(daily_data.shape)

[*********************100%***********************]  5 of 5 completed

In [6]:
daily_data['Close'].tail()

Ticker            AAPL       ADDYY        BMY        DAL         RTX
Date
2024-12-16  251.039993  127.949997  55.869999  61.049999  118.110001
2024-12-17  253.479996  126.739998  57.650002  60.810001  117.419998
2024-12-18  248.050003  123.889999  56.840000  58.880001  114.449997
2024-12-19  249.789993  121.860001  56.299999  60.380001  115.459999
2024-12-20  254.490005  122.930000  57.330002  60.930000  116.480003

In [10]:
alpaca_key = os.environ['ALPACA_PAPER_API_KEY']
alpaca_secret = os.environ['ALPACA_PAPER_SECRET']

In [14]:
client = StockHistoricalDataClient(
    api_key=alpaca_key,
    secret_key=alpaca_secret,
)
start = datetime.now() - timedelta(1*2*365)
end = datetime.now() - timedelta(1)
print(start)
print(end)

In [29]:
request_params = StockBarsRequest(
  symbol_or_symbols=stocks,
  timeframe=TimeFrame.Day,
  start=start,
  end=end
)
alpaca_data = client.get_stock_bars(
    request_params=request_params
)

In [50]:
daily_data['Close'].tail()

Ticker            AAPL       ADDYY        BMY        DAL         RTX
Date
2024-12-16  251.039993  127.949997  55.869999  61.049999  118.110001
2024-12-17  253.479996  126.739998  57.650002  60.810001  117.419998
2024-12-18  248.050003  123.889999  56.840000  58.880001  114.449997
2024-12-19  249.789993  121.860001  56.299999  60.380001  115.459999
2024-12-20  254.490005  122.930000  57.330002  60.930000  116.480003

In [62]:
alpaca_data.df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'trade_count', 'vwap'], dtype='object')

In [59]:
alpaca_data.df.reset_index().query("symbol=='AAPL'").tail()[['symbol','timestamp','close']]

    symbol                 timestamp   close
496   AAPL 2024-12-13 05:00:00+00:00  248.13
497   AAPL 2024-12-16 05:00:00+00:00  251.04
498   AAPL 2024-12-17 05:00:00+00:00  253.48
499   AAPL 2024-12-18 05:00:00+00:00  248.05
500   AAPL 2024-12-19 05:00:00+00:00  249.79