In [1]:
import pandas as pd
import yfinance as yf
import numpy as np

In [2]:
sample_stocks = [
    'NVDA','BMY', 'addyy', 'aapl', 'dal', 'kvue',
    'rtx', 'bbwi', 'axp', 'aee'
    ]
sample_stocks = [i.upper() for i in sample_stocks]

In [3]:
stocks = np.random.choice(sample_stocks, 5, replace=False).tolist()

In [4]:
daily_data = yf.download(stocks, period='2y', interval='1d')

[*********************100%***********************]  5 of 5 completed

In [8]:
daily_data.shape

(503, 25)

In [6]:
daily_data['Close'].tail()

Ticker            AEE       BBWI        DAL       KVUE        NVDA
Date
2024-12-13  89.839996  38.220001  61.520000  22.209999  134.250000
2024-12-16  88.730003  38.619999  61.049999  22.070000  132.000000
2024-12-17  88.680000  38.669998  60.810001  22.040001  130.389999
2024-12-18  86.930000  38.480000  58.880001  21.510000  128.910004
2024-12-19  88.570000  38.580002  60.380001  21.610001  130.679993

In [ ]:
# from alpaca.data import StockHistoricalDataClient