In [1]:
import pandas as pd
import yfinance as yf
import numpy as np

In [2]:
sample_stocks = [
    'NVDA','BMY', 'addyy', 'aapl', 'dal', 'kvue',
    'rtx', 'bbwi', 'axp', 'aee'
    ]
sample_stocks = [i.upper() for i in sample_stocks]

In [3]:
stocks = np.random.choice(sample_stocks, 5, replace=False).tolist()

In [4]:
daily_data = yf.download(stocks, period='2y', interval='1d')

[*********************100%***********************]  5 of 5 completed

In [5]:
daily_data.shape

(503, 25)

In [10]:
daily_data['Close'].tail()

Ticker            AAPL       ADDYY        AEE       BBWI         RTX
Date
2024-12-13  248.130005  126.230003  89.839996  38.220001  117.750000
2024-12-16  251.039993  127.949997  88.730003  38.619999  118.110001
2024-12-17  253.479996  126.739998  88.680000  38.669998  117.419998
2024-12-18  248.050003  123.889999  86.930000  38.480000  114.449997
2024-12-19  249.789993  122.099998  88.570000  38.580002  115.459999